{% extends 'todo/base.html' %}

{% block title %}
	A Todo List - Home
{% endblock %}

{% block body %}
	<div>Welcome {{ user }}</div>
	<a href="{% url 'todo:logout' %}">Logout</a>

	{% if messages %}
		{% for message in messages %}
			{{ message }}
		{% endfor %}
	{% endif %}

	<form action="{% url 'todo:home' %}" method='POST'>
		{% csrf_token %}
		<label>Task</label>
		<input type="text" name="task">
		<button>Submit</button>
	</form>

	<ol>
		{% for task in tasks %}
			<li>{{ task.task }}</li>
		{% endfor %}
	</ol>
{% endblock %}


