<!DOCTYPE html>
<html>
<head>
	<title>A Todo List - Login</title>
</head>
<body>
	<h1>A Todo List</h1>
	{% if messages %}
		{% for message in messages %}
			{{ message }}
		{% endfor %}
	{% endif %}	
	<h2>Login</h2>
	<form action="{% url 'todo:login' %}" method='post'>
		{% csrf_token %}
		<label>Username</label>
		<input type="text" name="username">
		<label>Password</label>
		<input type="password" name="password">
		<button>Submit</button>
		<a href="{% url 'todo:register' %}">Register New User</a>
	</form>
</body>
</html>