{% extends 'todo/base.html' %}

{% block title %}
	A Todo List - Login
{% endblock %}

{% block body %}
	{% if messages %}
		{% for message in messages %}
			{{ message }}
		{% endfor %}
	{% endif %}	
	<div class="login-page-name">
		<span>Login</span>
	</div>
<!-- 	<form action="{% url 'todo:login' %}" method='post'>
		{% csrf_token %}
		<label>Username</label>
		<input type="text" name="username">
		<label>Password</label>
		<input type="password" name="password">
		<button>Submit</button>
		<a href="{% url 'todo:register' %}">Register New User</a>
	</form> -->
	<div class="login-form-container">
		<form action="{% url 'todo:login' %}" method='post'>
			{% csrf_token %}
		  <div class="form-group">
		    <label for="username">Email address</label>
		    <input type="email" class="form-control" id="username" aria-describedby="emailHelp" name="username">
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" id="password" name="password">
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

{% endblock %}





