<!DOCTYPE html>
<html>
	<head>
		<title>A Todo List - Register</title>
	</head>
	<body>
		<h1>Register New User</h1>
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endif %}
		<form action="{% url 'todo:register' %}" method="post">
			{% csrf_token %}
			<label>First Name:</label>
			<input id='first_name' type="text" name="first_name">
			<label>Lastname Name:</label>
			<input id='last_name' type="text" name="last_name">
			<label>Email Id:</label>
			<input id='email' type="email" name="email">
			<label>Password:</label>
			<input id='password' type="password" name="password">
			<button>Submit</button>
		</form>
	</body>
</html>